
.main-page {
    -fx-background-color: green;
}


.left-box {
    -fx-background-color: #F8F6E3;
}

.button {
    -fx-background-color: #ffffff;
    -fx-font-weight: normal;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}

.tab-left-button {
    -fx-background-color: #F8F6E3;
}


.button:hover {
    -fx-background-color: #7AA2E3;
    -fx-font-weight: bold;
}

.top-panel {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
    -fx-padding: 1px;
    -fx-background-radius: 20;
}

.left-box .button {
    -fx-alignment: baseline-left;
    -fx-text-alignment: left;
}

.content-pane {
    -fx-background-color: #f2f4f5;
}


.account-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.account-button .menu-item {
    -fx-font-size: 14pt;
}


.avatar-image {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 0;
}

#transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}


#search-input {
    -fx-background-color: #ffffff;

}

#search-button {
    -fx-background-color: #ffffff;
}

.round-image {
    -fx-background-radius: 50%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 50%;
}


.userbutton {
    -fx-border-radius: 20;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
}

