

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333; /* Màu chữ xám đậm */
}

.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #cccccc;
}

.button {
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:pressed {
    -fx-background-color: #0056b3;
}
